<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="layout/layout">

<head>
    <link rel="stylesheet"
          th:href="@{/plugins/jqueryUI/css/jquery-ui.min.css}">
    <!--JqGrid base style-->
    <link rel="stylesheet"
          th:href="@{/plugins/jQuery_jqGrid/css/ui.jqgrid.min.css}">
</head>

<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="content-wrapper" layout:fragment="content">
        <div class="row">
            <div class="col-xs-3">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <i class="fa fa-home"></i> 机构管理
                        </h4>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="widget-box widget-color-green2">
                            <div class="widget-header">
                                <h4 class="widget-title lighter smaller">
                                    Browse Files
                                </h4>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main padding-8">
                                    <ul id="tree2"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-9">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                             用户管理
                        </h4>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-info">
                                <i class="fa fa-filter"></i> 查询
                            </button>
                            <button type="button" class="btn btn-info">
                                <i class="fa fa-plus"></i> 新增
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <form id="searchForm" class="form-horizontal" action="/test" method="post">
                            <div class="col-md-4 form-group">
                                <label class="col-md-4 control-label" type="text">用户名</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"/>
                                </div>

                            </div>
                            <div class="col-md-3 form-group">
                                <label class="col-md-4 control-label" type="text">性别</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="col-md-5 control-label" type="text">出生日期</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-info pull-right">查询</button>
                            </div>
                        </form>
                        <div class="col-md-12">
                            <table id="userGridTable"></table>

                            <div id="gridPager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jquery jqGrid Plugin-->
        <script type="text/javascript"
                th:src="@{/plugins/jQuery_jqGrid/js/jquery.jqGrid.min.js}"></script>
        <!-- JQuery jqGrid Chinese Support-->
        <script type="text/javascript"
                th:src="@{/plugins/jQuery_jqGrid/i18n/grid.locale-cn.js}"></script>
        <script type="text/javascript"
                th:src="@{/plugins/ace/ace_main.min.js}"></script>
        <script type="text/javascript"
                th:src="@{/plugins/ace/ace_elements.min.js}"></script>
        <!-- Tree Plugin -->
        <script type="text/javascript"
                th:src="@{/plugins/tree/ace_tree.min.js}"></script>
        <script type="text/javascript"
                th:src="@{/system/user/user_list.js}"></script>
    </div>
<!-- ./wrapper -->
</body>
</html>